* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: hsl(29, 63%, 92%);
}

.container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
  /* height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.my-balance {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: hsl(10, 79%, 65%);
  border-radius: 10px;
  color: white;
}

.balance-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.balance-logo {
  align-self: center;
}

.balance-text h2 {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spending {
  padding: 1.5rem;
  background-color: white;
  border-radius: 10px;
}

.spending h1 {
  font-size: 2.5rem;
}

.spending h1,
h4 {
  color: hsl(25, 47%, 15%);
}

.spending p {
  color: hsl(28, 10%, 53%);
}

.analytics {
  display: flex;
  justify-content: space-between;
}

.percentage {
  align-self: flex-end;
}

.percentage h4 {
  text-align: right;
}

.line {
  padding: 0.8px;
  background-color: hsl(29, 63%, 92%);
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#spendingChart {
  cursor: pointer;
}

@media only screen and (max-width: 362px) {
  .analytics {
    flex-direction: column;
  }

  .total h1 {
    font-size: 1.5rem;
  }

  .spending h1 {
    font-size: 1.5rem;
  }

  .balance-text p {
    font-size: 0.8rem;
  }

  .balance-text h2 {
    font-size: 1.5rem;
  }
}
